@import "scss/card";
@import "scss/content";
@import "scss/responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(0deg, #f6f2ff, #f6f2ff), #fbfaff;
}

.border {
  border: 3px solid green;
}
