img {
  position: absolute;
  max-width: 440px;
  max-height: 775.69px;
  border-radius: 35.1522px;
  filter: drop-shadow(0px 0px 46.87px rgba(0, 0, 0, 0.05));
  left: calc(50% - 220px - 366px);
  top: 100px;
}

.content {
  position: absolute;
  width: 574px;
  padding-right: 160px;
  left: calc(50% - 287px + 309px);
  top: 306px;
}

p {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  /* or 100% */
  text-align: right;
  color: #240d57;
}

span {
  width: 295px;
  height: 74px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 74px;
  /* identical to box height */
  text-align: right;
  background: linear-gradient(90deg, #8456ec 24.2%, #e87bf8 120.46%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.subtext {
  padding-right: 160px;
  width: 521px;
  height: 56px;
  text-align: right;
  flex: none;
  order: 1;
  flex-grow: 0;
}

h3 {
  width: 574px;
  height: 56px;
  padding-right: 160px;
  font-family: "Helvetica";
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: right;
  color: #4f4f4f;
  flex: none;
  order: 1;
  flex-grow: 0;
}

button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 10px;
  position: absolute;
  width: 320px;
  /* height: 55px; */
  right: 160px;
  /* left: 1032px; */
  /* bottom: 305px; */
  margin-top: 52px;
  background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
  border-radius: 10px;
}

.button {
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}

@media only screen and (max-width: 960px) {
  #root {
    max-width: 960px;
  }
  body {
    position: relative;
    display: flex;
  }
  img {
    position: absolute;
    width: 311px;
    height: 548.27px;
    left: calc(50% - 155.5px + 0.5px);
    top: 379px;
    filter: drop-shadow(0px 0px 33.1283px rgba(0, 0, 0, 0.05));
    border-radius: 24.8462px;
  }
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 16px;
    position: absolute;
    width: 880px;
    height: 270px;
    left: calc(50% - 440px);
    top: 60px;
  }
  .content > p {
    width: 574px;
    height: 74px;
    left: 200px;
    top: 59px;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 74px;
    text-align: center;
  }
  .subtext {
    width: 521px;
    height: 56px;
  }
  h3 {
    position: relative;
    padding: 0 16px 0 0;
    color: #4f4f4f;
    top: 125px;
    flex: none;
    order: 1;
    flex-grow: 0;
    font-family: "Helvetica";
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    left: calc(50% - 219.5px);
  }
  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 10px;
    position: absolute;
    width: 320px;
    height: 55px;
    left: calc(50% - 160px);
    top: 900px;
    background: linear-gradient(90deg, #8456ec 3.25%, #e87bf8 100%);
    border-radius: 10px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

body {
  max-width: 1512px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(0deg, #f6f2ff, #f6f2ff), #fbfaff;
}

.border {
  border: 3px solid green;
}/*# sourceMappingURL=style.css.map */